/* :root {
    --bs-btn-border-color: #ed6e1b;
} */

/* .btn-primary {
    --bs-btn-border-color: #ed6e1b;
} */

/* .btn-primary {
    background-color: var(--bs-btn-border-color);
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-register {
    max-width: 330px;
    padding: 15px;
}

#catLottie {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
}

/* .btn-perso {
    background-color: #ed6e1b;
} */